.footer {
  background-image: url(../images/map.png);
  background-position: center;
  background-repeat: no-repeat;
}
.foot-input {
  border: 1px solid var(--primary-colo);
  background-color: #212529;
  height: 60px;
  border-radius: 5px;
  padding-left: 15px;
}
.subscribe-btn {
  background-color: var(--primary-colo);
  height: 60px;
  width: 200px;
  border: 1px solid var(--primary-colo);
  border-radius: 5px;
  color: var(--light-colo);
}

.subscribe-btn:hover {
  background-color: transparent;
  color: var(--primary-colo);
}
.foot-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2vw 3vw;
}
.footr-item {
  list-style: none;
}
.footr-a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-colo);
}
.footr-a:hover {
  color: var(--light-colo);
}
.form-type {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-txt {
  font-size: 30px;
}
/* .footer-icon {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5px;
}
.foot-icon {
  list-style: none;
}
.foot-icon-a {
  text-decoration: none;
} */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media .social-i {
  list-style: none;
}

.social-media .social-i .footer-icon {
  width: 50px;
  height: 50px;
  background-color: var(--dark-colo);
  text-align: center;
  line-height: 48px;
  font-size: 20px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--dark-colo);
  z-index: 1;
  transition: 0.5s;
}

.social-media .social-i .footer-icon .icon {
  position: relative;
  color: var(--light-colo);
  transition: 0.5s;
  z-index: 3;
}

.social-media .social-i .footer-icon:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-media .social-i .footer-icon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.social-media .social-i .footer-icon:hover:before {
  top: 0;
}

.social-media .social-i:nth-child(1) .footer-icon:before {
  background: #3b5998;
}

.social-media .social-i:nth-child(2) .footer-icon:before {
  background: linear-gradient(45deg, #e1306c, #f77737, #fdc830);
}

.social-media .social-i:nth-child(3) .footer-icon:before {
  background: #181717;
}

.social-media .social-i:nth-child(4) .footer-icon:before {
  background: #0077b5;
}

.social-media .social-i:nth-child(5) .footer-icon:before {
  background: #181717;
}

@media (max-width: 600px) {
  .social-media .social-i .footer-icon {
    width: 35px;
    height: 35px;
    line-height: 33px;
    font-size: 15px;
    margin: 0 5px;
  }
  .social-media {
    flex-direction: row;
  }
  .footr-a {
    font-size: 9px;
    font-weight: 400;
  }
  .copy-right {
    font-size: 15px;
  }
  .form-type {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-txt {
    font-size: 20px;
  }
  .foot-input {
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
  }
  .subscribe-btn {
    height: 40px;
    width: 150px;
    border-radius: 3px;
  }
}
